button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button.primary-button {
	background-color: transparent;
	color: $cmf-yellow;
	border: 3px solid $cmf-yellow;
	&:hover {
		background-color: $cmf-yellow;
		color: $white;
	}
}
button.secondary-button {
	background-color: $cmf-yellow;
	color: $white;
	padding: 17px 1em;
	&:hover {
		background-color: darken($cmf-yellow, 8%);
	}
}