---
title: Pattern Library Components
body_class: components
---

%section.component-header
  .wrapper
    .section-heading
      %h3 header
      %p a general page header
  %header
    .wrapper.header-wrapper
      %h1.title Heading Title Goes Here
      .header-card 
        %h3.card-title Card Title here
        .card-button-group
          %button.primary-button Primary Button
          %button.secondary-button Secondary Button
    .secondary-action-bar 
      .wrapper
        %a{:href=>"#"} extra link here >
