---
title: Pattern Library Styles
body_class: styles
---
= stylesheet_link_tag "styles"

.wrapper
  %section.style-typography
    .section-heading
      %h3 Typography
      %p Some of the main colors used in the appliction
    .section-content
      .primary-type
        %h1 H1 heading
        %h2 H2 heading
        %h3 H3 heading
        %h4 H4 heading
      .secondary-type
        %p Me non paenitet nullum festiviorem excogitasse ad hoc. Cum sociis natoque penatibus et magnis dis parturient. Ambitioni dedisse scripsisse iudicaretur. Nihil hic munitissimus habendi senatus locus, nihil horum?
        %p Quam temere in vitiis, legem sancimus haerentia. Quae vero auctorem tractata ab fiducia dicuntur. Ambitioni dedisse scripsisse iudicaretur. Quam temere in vitiis, legem sancimus haerentia. Me non paenitet nullum festiviorem excogitasse ad hoc.

.wrapper
  %section.style-colors
    %h3 Colors
    %p Some of the main colors used in the appliction
    #primary-colors.colors-category
      %h4.color-section-title Primary Colors
      .color-grid
        .color.primary.one
        .color.primary.two
        .color.primary.three
    #secondary-colors.colors-category
      %h4.color-section-title Secondary Colors
      .color-grid
        .color.secondary.one
        .color.secondary.two
        .color.secondary.three